<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Toko Caringin</title>
</head>

<body>

    <h2>Toko Caringin</h2>
    <hr>
    <p>
        Selamat Datang di Toko Caringin!
    </p>

    <hr>

    <!-- display user name and role -->

    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>

    <div sec:authorize="hasRole('MANAGER')">

    <!-- Add a link to point /leaders . . . this is for the manager -->
    <p>
        <a th:href="@{/leaders}">Leadership Meeting</a>
        (Only for Manager peeps)
    </p>

    </div>

    <div sec:authorize="hasRole('ADMIN')">

    <!-- Add a link to pont to /systems . . . this is for the admins -->
    <p>
        <a th:href="@{/systems}">IT Systems Meeting</a>
        (Only for Admin peeps)
    </p>

    </div>


    <hr>

    <!-- Add a logout button -->
    <form action="#" th:action="@{/logout}" method="POST">

        <input type="submit" value="Logout" />

    </form>

</body>
</html>